*{
	margin: 0;
	padding: 0;

}

.text-center img{
	width: 300px;
	height: 200px;
}

h3{
	font-weight: 30px;
	font-family: ;
}

.form-group{
	font-family: cursive;
	font-weight: bold;
}

hr{
	font-family: 'Helvetica', sans-serif;
	background-color: black;
}

.image img{
width: 200px;
height: 200px;

}
.logo{
	margin-bottom:10%;
}
/*.carousel-img{
	width:100px;
}*/
.car-slide{
width:80%;
margin-left:10%;
}

textarea{
	width: 50%;
	height: 150px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
	font-size: 16px;
}

tr	{
	margin-left:auto;
	margin-right:auto;
	width: 100%;
}

table	{
	margin: 10px;
}

/*===================Image hover ==========================*/
.container {
	position: relative;
	width: 50%;
}

.image {
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
}

.middle {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);

}

.container:hover .image {
	opacity: 0.3;
}

.container:hover .middle {
	opacity: 1;
}

.text {
	background-color:#d4af37;
	color: white;
	font-size: 16px;
	padding: 16px 32px;
}

